<%= form_for(@census_date) do |f| %>
  <% if @census_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@census_date.errors.count, "error") %> prohibited this census_date from being saved:</h2>

      <ul>
      <% @census_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
