<%= form_for(@day_description) do |f| %>
  <% if @day_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_description.errors.count, "error") %> prohibited this day_description from being saved:</h2>

      <ul>
      <% @day_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
